
.main-hero{
    align-items: center;
    text-align: center;
    margin: 68px 180px 104px 150px;
}
.hero-top{
    display: inline-block;
    align-items: center;
    text-align: center;
    margin-top: 65px;
}
.para{
    text-align: center;
}
.para h1{
    align-items: center;
    font-size: 60px;
    line-height: 45.6px;
    letter-spacing: normal;
    font-weight: 600;
    margin: 0px 70px 60px 70px;
    color: #1c1b1f;

}
.para span{
    color: #8900c4;
}
  span p{
    font-size: 20px;
    line-height: 25px;
    font-weight: 400;
    margin-left: 1rem;
    margin-right: 1rem;
    letter-spacing: normal;
    color: #1c1b1f;
}
.main-box{
    margin: 20px;
    display: inline-flex;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
}
.main-box img{
    height: 60px;
}
.box1{
     display: flex;
     align-items: center;
     gap: 5px;
    width: 100px;
    background-color: #EEFAF4;
    color: black;
    height: 95px;
    width: 170px;
    border: none;
    border-radius: 20px;
    padding: 3px 6px 12px 8px;
}
.box2{
    background-color: #E6FFFF;
}
.box3{
    background-color:#FFF8E6 ;
}
.hero-bottom{
    border: 1px solid;
    /* height: 40rem; */
    border-radius: 10px;
    width: 70rem;
    position: inherit;
    margin-left: 120px;
}
.main-buttom{
     position: relative;
     width: 3rem;
}
.vide{
    /* height: 59rem; */
    display: inline-flex;
    border-radius: 39px;
    width: 69rem;
    
}
.link{
    width: 70rem;
    height: 40rem;
    z-index: 2;
}


@media (max-width:600px) {
    .para p{
     font-size: 4rem;
     margin-bottom: 15px;
}
.para h1{
    font-size: 40px;
    margin-bottom: 20px;
}
.vide{
    height: 20rem;
    width: 20rem;   
}
.main-hero{
    margin: 10px;
}
.main-box{
    display: inline-grid;
    gap: 50px;
}
.btn{
    display: inline-grid;
    gap: unset;
}
.hero-bottom{
    border: 1px solid;
    border-radius: 10px;
    position: inherit;
    width: 21rem;
    margin-left: 15px;
}

}